{% extends 'base.html' %}

{% block content %}
<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
      <h1>Toda la información de Rick & Morty en un solo lugar</h1>
      <p class="lead text-muted">Entérate de todo sobre los personajes, episodios y lugares de tu serie favorita.</p>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
        {% for episode in episodes %}
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <div class="card-body">
              <p class="card-text">Código episodio: {{ episode.episode }}</p>
              <a class="card-text" href="{% url 'episodes' episode.id %}">{{ episode.name }}</a>
              <p class="card-text">Fecha estreno: {{ episode.air_date }}</p>
            </div>
          </div>
        </div>
        {% endfor %}
        </div>
      </div>
    </div>

</main>
{% endblock %}
